{{#if products.length }}
    <table class="table-products">
        <caption>Productos</caption>
        <thead>
            <tr>
                <th scope="column">Id</th>
                <th scope="column">Nombre</th>
                <th scope="column">Precio</th>
                <th scope="column">Descripción</th>
                <th scope="column">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {{#each products}}
                <tr>
                    <td data-product-property="_id">{{_id}}</td>
                    <td data-product-property="name">{{title}}</td>
                    <td data-product-property="price">{{price}}</td>
                    <td data-product-property="shortDescription">{{description}}</td>
                    <td class="table-edit">
                        <button class="btn-edit" title="Editar producto">Editar</button>
                        <button class="btn-delete" title="Eliminar producto">X</button>
                    </td>
                </tr>
            {{/each}}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="5">Se encontraron {{products.length}} productos</td>
            </tr>
        </tfoot>
    </table>
{{else}}
    <p>No se encontraron productos</p>
{{/if}}